<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emotion detection</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Live streaming</h1>
    <img src="{{url_for('video')}}" width="50%" height="50%">
    
    <button type="submit" form="form1" value="Submit">
      <a href="{{url_for('emotion')}}">capture emotion</a>
    </button>
    
    
	<script src="index.js"></script>
  </body>
</html>
